<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{test.css}">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <title>Pastebin-test</title>
</head>
<body>
    <body>
        <div class="container">
            <h1>User Text</h1>
            <div class="user-text">
                <!-- Здесь будет отображаться текст пользователя -->
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet dui vel libero suscipit imperdiet in vel tellus.
            </div>
        </div>
    </body>
</body>
</html>